h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}
.container-navigation{

display: flex;
flex-wrap: wrap;
}

button {
    text-align: center;
    border: 2px;
    background-color:aliceblue;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .2s;
    
}
button:hover{
    background-color:slategray;
    color:black;
}
button:active{
    background-color:darkslategray;
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px) translateX(2px);
    
}



body {
    background-color: lightgoldenrodyellow;
}
header{
    background-color: aliceblue;
    text-align: center;
}

main{
    background-color:aquamarine
}

footer{
    background-color: blue;
}

section{
    border: 1px solid black;
    padding:5px;
}

.poster-section{

align-items: center;




height: 300px;
display: flex;
padding: 20px;



}
