h1{
    text-align: center;
}
.container-navigation{

display: flex;
flex-wrap: wrap;
}




body {
    background-color: lightgoldenrodyellow;
}
header{
    background-color:violet
}

main{
    background-color:aquamarine
}

footer{
    background-color: blue;
}

section{
    border: 1px solid black;
    padding:5px;
}

.poster-section{




















height: 300px;
display: flex;
padding: 20px;



}
